*.pyc
__pycache__/
logs/
backups/
.env
.env_bot
*.enc
*.bak
.DS_Store
*.sqlite
*.log
IBKR/ibgateway-stable-standalone-linux-x64.sh
.env
.env.*
*.enc
*.pem
*.p12
*.crt
**/keys/**
**/secrets/**
support/.env*
tbot_bot/storage/keys/**
tbot_bot/support/*.key
tbot_bot/output/**
tbot_web/output/**
output/**
