/* tbot_web/static/css/main.css */
@import url('layout.css');
@import url('forms.css');
@import url('buttons.css');
@import url('tabs.css');
@import url('responsive.css');

@font-face {
    font-family: 'London-Tube';
    src: url('../fnt/London-Tube.ttf') format('truetype');
}

body {
    font-family: 'London-Tube';
    background-color: #222222;
    color: #999999;

}

h1, h2, h3 {
    color: #999999;
}
