# tbot_web_router.service

[Unit]
Description=RIGD TradeBot Web UI Router (Single-Entry Flask Proxy)
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/rigd_tbot
Environment=PATH=%h/rigd_tbot/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=%h/rigd_tbot/venv/bin/python3 -m tbot_web.py.portal_web_router
Restart=on-failure

[Install]
WantedBy=default.target
