# systemd_units/tbot_supervisor.timer
[Unit]
Description=RIGD TradeBot Daily Supervisor Timer (UTC)

[Timer]
OnCalendar=Mon..Fri 00:01 UTC
Unit=tbot_supervisor@%Y-%m-%d.service
Persistent=true
AccuracySec=1min
RandomizedDelaySec=0s

[Install]
WantedBy=timers.target
